@import "../../lib/root.scss";

.header {
    position: fixed;
    width: 100%;
    z-index: $level-header;
    top: 0;

    .logo-container {
        @include container();
        text-align: center;
        background-color: $background-header;
        color: $font-white;
        box-shadow: $box-shadow;
        height: 44px;

        & > a {
            font-size: $fs30;

            .logo {
                display: inline-block;
                width: 44px;
                height: 100%;
                margin-right: 10px;

                & > img {
                    width: 100%;
                    transform: translateY(10%);
                }
            }
        }
    }
}
