@import "../../lib/root.scss";

.input-wrapper {
  margin-top: 40px;
  text-align: center;

  .box {
    width: 500px;
    height: 40px;
    color: #858585;
    background-color: #1c1c1c;
    border: 1px solid #484848;
    padding: 0 14px;
  }
}
