@import "../../lib/root.scss";

.modal-wrapper {
    width: 300px;
    padding: 30px 24px;
    color: $font-white;
    background-color: $background-drawer;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
