.modal-wrapper {
    width: 300px;
    padding: 30px 24px;
    color: white;
    background-color: #222222;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
