@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import "../lib/root.scss";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
input,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 12px;
    vertical-align: baseline;
}

body {
    background-color: $background-normal;
}

a {
    text-decoration: none;
    color: unset;
}

ul,
ol {
    list-style: none;
}

.swiper-container {
    width: 80vw;
    height: 400px;

    .swiper-button-prev,
    .swiper-button-next {
        color: $font-white;
        top: 50%;
    }

    .swiper-wrapper {
        box-sizing: border-box;
        height: 400px;
        padding-top: 80px;

        .swiper-slide {
            transform-origin: center center;
            transition: transform 0.3s ease-in-out;
        }

        .swiper-slide-active {
            z-index: 3;
            transform: scale(1.5);
        }

        .swiper-slide-prev,
        .swiper-slide-next {
            z-index: 2;
            transform: scale(1.3);
        }
    }
}
