@import "../../lib/root.scss";

.category-wrapper {
    background-color: #232323;
    padding: 100px 0 40px;

    .category {
        padding-top: 40px;
        margin: 0 auto 20px;
        font-size: $fs24;
        color: #dedede;
        text-align: center;
        font-size: $fs24;
    }
}
