@import "../../lib/root.scss";

.drawer-wrapper {
    width: 100%;
    text-align: center;
    padding: 120px 0 20px;
    background-color: $background-drawer;

    .category-name {
        color: $font-white !important;
        font-size: $fs24;
        padding: 10px !important;
        transition: background-color 0.3s ease-in-out;
        display: inline-block;
    }

    .category-name:hover {
        background-color: $background-header;
    }
}

.drawer-list {
    background-color: $background-drawer;
    color: $font-white;
}
