@import "../../lib/root.scss";

.main {
    margin: 100px auto 0;
    width: 1530px;

    & > h1 {
        color: $font-white;
        font-size: $fs24;
        margin-bottom: 30px;
    }

    .flex-wrapper {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
}
