$brand-color: #ff0000;
$disable-color: #dbdbdb;

$font-white: #d6d6d6;
$font-dark: #747474;
$font-blue: #3ea6ff;

$border-search: #484848;

$background-header: #171717;
$background-list: #232323;
$background-view: #2e2e2e;
$background-skeleton: #222;

$level-header: 5000;
$level-view: 4000;

//base 12
$fs8: 0.6667rem;
$fs9: 0.75rem;
$fs10: 0.8333rem;
$fs11: 0.9167rem;
$fs12: 1rem;
$fs13: 1.083rem;
$fs14: 1.167rem;
$fs15: 1.25rem;
$fs16: 1.333rem;
$fs17: 1.417rem;
$fs18: 1.5rem;
$fs19: 1.583rem;
$fs20: 1.667rem;
$fs22: 1.833rem;
$fs24: 2rem;
$fs26: 2.167rem;
$fs28: 2.333rem;
$fs30: 2.5rem;
$fs32: 2.667rem;
$fs34: 2.833rem;
$fs36: 3rem;
$fs38: 3.167rem;
$fs40: 3.333rem;
