@import "./root.scss";

.view-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 640px;
    height: 100%;
    background-color: $background-view;
    z-index: $level-view;
    padding: 20px;
    padding-bottom: 0;

    .view-wrapper {
        position: relative;
        top: 56px;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;

        & > div {
            width: 100%;
            height: 0;
            padding-bottom: 56.25%;
            position: relative;

            & > iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    .view-information {
        position: relative;
        top: 56px;
        max-width: 800px;
        margin: 20px auto 0;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 3px;
        }

        &::-webkit-scrollbar-track {
            background-color: none;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $font-dark;
            border-radius: 3px;
        }

        .view-information-tag {
            color: $font-blue;
        }

        .view-information-title {
            color: $font-white;
            font-size: $fs18;
        }

        .view-information-statistic {
            display: flex;
            vertical-align: middle;
            align-items: center;
            color: $font-dark;
            font-size: $fs14;
            height: 40px;

            .statistic-like {
                display: flex;
                vertical-align: middle;
                align-items: center;

                & > svg {
                    width: 24px;
                    height: 24px;
                    display: inline-block;
                }
            }

            .statistic-dislike {
                display: flex;
                vertical-align: middle;
                align-items: center;

                & > svg {
                    width: 24px;
                    height: 24px;
                    transform: rotate(180deg);
                    display: inline-block;
                }
            }
        }
    }
}

@media (max-width: 1366px) {
    .view-container {
        width: 640px;
    }
}

@media (max-width: 1024px) {
    .view-container {
        width: 375px;
    }
}

@media (max-width: 1023px) {
    .view-container {
        width: 100%;
        padding: 0;
    }
}
