@import "../../lib/root.scss";

.nav {
    @include container();
    background-color: #1e1e1e;
    color: #707070;
    height: 50px;
    line-height: 40px;
    box-shadow: $box-shadow;
    display: flex;
    justify-content: center;
    align-items: center;
}
